body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dce8c8;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

.intro {
    font-size: 1.2rem;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #444;
}

nav li {
    margin: 0;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #444;
    color: #fff;
}
