

<!DOCTYPE html>
<html>

<head>
  <title>Muhammad Fakhar's Portfolio</title>

  <!-- Link to styles.css -->
  <link rel="stylesheet" href="/style.css">

</head>

<body>

  <header>
    <h1>Muhammad Fakhar's Portfolio</h1>
    <p>Aspiring Data Scientist and Machine Learning Engineer</p>
  </header>

  <section id="about">
    <h2>About Me</h2>

    <p>Hi, 
      I am Muhammad Fakhar, a Computer Science student, mainly focused in Data Science and Machine Learning.
      As a Machine Learning practitioner, I have been writing posts and blogs on Data science and ML, here too.
      Thank you for visiting my blog page. I hope you enjoy my articles!
      Thank you.</p>

  </section>

  <section id="projects">

    <h2># End-to-End Projects</h2>

    <h3># [Machine Price Prediction](https://github.com/fakhar-iqbal/MachineryPriceEstimator_End_to_End_Project)</h3>

    <p>In this app, I implemented Random Forest model to generate the price of Machinery based on previous auction data.</p>

    <img src="/images/first.png" alt="Machine Price Prediction">
    <img src="/images/second.png" alt="Machine Price Prediction"> 
    <img src="/images/third.png" alt="Machine Price Prediction">


    <h3># [Students Performance Predictor](https://github.com/fakhar-iqbal/Student_Performance_Predictor_End_to_End_Project)</h3>

    <p>In this app, I implemented the model to predict the maths score for students based on their profiles.</p>

    <img src="/images/student.png" alt="Students Performance Predictor">

    <h2># Journey with fastai Library</h2>

    <h3># Computer Vision</h3>

    <h4>## Images Regression</h4>

    <h5>### [Practice 1: Centre of Head](https://github.com/fakhar-iqbal/FastaiImplementations/blob/main/ComputerVision/ImagesRegression.ipynb)</h5>

    <p>In this model, I implemented images regression, to find the coordinates of the centre of the head. It uses MSELoss.</p>

    <img src="/images/regression.png" alt="Centre of Head Regression">

    <h4>## Sinlge Label Classification</h4>

    <h5>### [Practice 1: Dog vs Cat Classifier](https://github.com/fakhar-iqbal/FastaiImplementations/tree/main/ComputerVision/Dog_vs_CatApp.ipynb)</h5>

    <p>I made a computer vision model hosted in gradio, on huggingfaces, in Fastai, which classifies between dogs and cats. Have a look in my repo! Click the title!</p>



    <h5>### [Practice 2: Player Classifier](https://github.com/fakhar-iqbal/FastaiImplementations/tree/main/ComputerVision/PlayerClassifier.ipynb)</h5>

    <p>I made a computer vision model, hosted in gradio on huggingfaces, which differs between two categories of people. Ronaldo and Messi. Funny!</p>

    <img src="/images/messi.png" alt="Messi vs Ronaldo Classifier">


    <h5>### [Practice 3: Bear Detector](https://github.com/fakhar-iqbal/FastaiImplementations/tree/main/ComputerVision/BearClassifierPrototype%20.ipynb)</h5>

    <p>In this model, I classified between 3 types of bears, black, teddy and grizzly. With 100% accuracy. This app prototype is also hosted on huggingfaces spaces.</p>




    <h5>### [Practice 4: MNIST Digits Classification](https://github.com/fakhar-iqbal/FastaiImplementations/blob/main/ComputerVision/DigitClassifierNNfromScratch.ipynb)</h5>

    <p>In this model, I just took2 digits, as provided as Samples in the dataset. I implemented the Neural Network from scratch to classify the single label. This uses softmax activation function and CrossEntropyLoss.</p>


    <h5>### [Practice 5: Pet Breed Classification](https://github.com/fakhar-iqbal/FastaiImplementations/blob/main/ComputerVision/PetBreedsNN.ipynb)</h5>

    <p>In this model, I implemented classifying between 37 different cats and dog breeds. This uses softmax activation function, and CrossEntropyLoss.</p>

    <h4>## Multi-Label Classification</h4>

    <h5>### [Practice 1: Predicting Multipple classes](https://github.com/fakhar-iqbal/FastaiImplementations/blob/main/ComputerVision/MultiLabelClassification.ipynb)</h5>

    <p>In this model, I predicted multiple classes present in the picture. This uses sigmoid activation function and BCELossWithLogits loss.</p>

    <img src="/images/multilabel.png" alt="Multi-Label Classification">


    <h3># Tabular Data</h3>

    <h5>### [Practice 1: Movies Prediction/Collaborative Filtering](https://github.com/fakhar-iqbal/FastaiImplementations/blob/main/Collab_filtering_TabularData/CollaborativeFiltering(onMovies).ipynb)</h5>

    <p>In this collaborative friltering, I worked on movies dataset, to predict the movie for a user based on his reviews.</p>

    <h5>### [Practice 2: Price Prediction from previous auctions](https://github.com/fakhar-iqbal/FastaiImplementations/blob/main/Collab_filtering_TabularData/TabularDataModel.ipynb)</h5>

    <p>In this model. based on previous prices of machines on auctions, I predicted the price for new machinery. I used the data from kaggle.(bluebook for bulldozers)</p>

    <h3># Natural Language Processing</h3>

    <h5>## [Practice 1: Generating text for movie reviews/ Classifying the reviews](https://github.com/fakhar-iqbal/FastaiImplementations/blob/main/NLP/LanguageModel_NLP_final.ipynb)</h5>

    <p>In this Language Model, I predicted the text to write the reviews for movies. Also, I classified them as positive review or negative review.</p>

  </section>

  <footer>
    <p>Copyright {{ site.username }}</p>
  </footer>

  <!-- Index.md content will be injected here -->
  {{ content }}

</body>

</html>
